<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-2">
      <input type="text" [(ngModel)]="message.content" />

      <article class="panel panel-default">
        <div class="panel-body">
          {{message.content}}
        </div>

        <footer class="panel-footer  app-comp-wrap">
          <div class="author">
            {{message.author}}
          </div>

          <div class="config">
            <a href="#">Edit</a>
            <a href="#">Delete</a>
          </div>
        </footer>
      </article>
    </div>
  </div>
</div>